#APP CONFIGS
APP_NAME=ApxBase
APP_LANG=pt-BR
APP_DATE_FORMAT=d/m/Y
APP_DEFAULT_TIMEZONE=America/Sao_Paulo
APP_ENV=development
# ('develpment', 'production')

# DATABASE CONFIGS

DB_DRIVER=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=