body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

button {
    border: 3px solid purple;
    padding: 7px;
    color: white;
    border-radius: 7px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        background-color: purple;
    }
}